<a href="https://colab.research.google.com/github/LuisCastillo920809/daa_2021_1/blob/master/21Octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
#T(n)=4
def ejemplo1( n ):
    c = n + 1
    d = c * n
    e = n * n
    total = c + e - d
    print(f"total={ total }")
ejemplo1( 99999 )
ejemplo1( 9999 )
ejemplo1( 999 )
ejemplo1( 99 )

total=1
total=1
total=1
total=1

In [25]:
#T(n)=n^2+1
def ejemplo2( n ):
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
    return contador

ejemplo2( 50 )

1600

In [26]:
#T(n)=102
def ejemplo3 (n):
  x = n * 2
  y = 0
  for m in range (100):
    y = x-n
  return y

ejemplo3(20)

200

In [27]:
#T(n)=3
def ejemplo4( n ):
    x = 3 * 3.1416 + n
    y = x + 3 * 3 - n
    z = x + y
    return z

ejemplo4(9)

36.849599999999995

In [28]:
#T(n)=1+n
def ejemplo5( x ):
    n = 10
    for j in range( 0 , x , 1 ):
        n = j + n
    return n

ejemplo5(10)

55

In [12]:
#T(n)=2 + n^3
def ejemplo6( n ):
    data=[[[1 for x in range(n)] for x in range(n)]
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    return suma
print(ejemplo6( 10 ))

1000

In [17]:
#Realiza el lapso de tiempo
#T(n)=2 + n^3

from time import time

def ejemplo6( n ):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)] 
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma
for c in range(100,600,100):
  ejemplo6( c )

Tiempo transcurrido: 0.1332700253 segundos.
Tiempo transcurrido: 0.9943408966 segundos.
Tiempo transcurrido: 114.7249777317 segundos.
Tiempo transcurrido: 9.1298468113 segundos.
Tiempo transcurrido: 17.2386987209 segundos.