<a href="https://colab.research.google.com/github/LuisCastillo920809/daa_2021_1/blob/master/23Octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#T(n)=4
def ejemplo1( n ):
    c = n + 1
    d = c * n
    e = n * n
    total = c + e - d
    print(f"total={ total }")
ejemplo1( 99999 )
ejemplo1( 9999 )
ejemplo1( 999 )
ejemplo1( 99 )

In [ ]:
#T(n)=n^2+1
def ejemplo2( n ):
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
    return contador

ejemplo2( 50 )

In [ ]:
#T(n)=102
def ejemplo3 (n):
  x = n * 2
  y = 0
  for m in range (100):
    y = x-n
  return y

ejemplo3(20)

In [ ]:
#T(n)=3
def ejemplo4( n ):
    x = 3 * 3.1416 + n
    y = x + 3 * 3 - n
    z = x + y
    return z

ejemplo4(9)

In [ ]:
#T(n)=1+n
def ejemplo5( x ):
    n = 10
    for j in range( 0 , x , 1 ):
        n = j + n
    return n

ejemplo5(10)

In [ ]:
#T(n)=2 + n^3
def ejemplo6( n ):
    data=[[[1 for x in range(n)] for x in range(n)]
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    return suma
print(ejemplo6( 10 ))

In [ ]:
#Realiza el lapso de tiempo
#T(n)=2 + n^3

from time import time

def ejemplo6( n ):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)] 
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma
for c in range(100,600,100):
  ejemplo6( c )

In [ ]:
#1+25(n^2)
def ejemplo7( n ):
    count = 0
    for i in range( n ) :
        for j in range( 25 ) :
            for k in range( n ):
                count += 1
    return count

In [8]:
# 1 + 25n^2 +25n^2
def ejemplo7_2( n ):
    count = 0
    for i in range( n ) :
        for j in range( 25 ) :
            for k in range( n ):
                count += 1
            for k in range( n ):
                count += 1
    return count

In [7]:
#1+n
numeros=[2,3,4,5,6]
def ejemplo8( numeros ): # numeros es una lista (arreglo en c)
    total = 0
    for index in range(len(numeros)):
        total = numeros[index]
    return total
to=ejemplo8(numeros)
print(to)

6

In [3]:
#3+2n
def ejemplo9(  n ):
    contador = 0
    basura = 0
    for i in range( n ) :
        contador += 1
    for j in range( n ) :
        contador += 1
    basura = basura + contador
    return contador


print(ejemplo9( 5 ))

10

In [2]:
#T(n) = 1 + (n^2+n)/ 2
def ejemplo10( n ):
  count = 0
  for i in range( n ) :
    for j in range( i+1 ) :
      count += 1
  return count

print(ejemplo10(5))
print(ejemplo10(6))
print(ejemplo10(7))
print(ejemplo10(8))
print(ejemplo10(9))
print(ejemplo10(10))

15
21
28
36
45
55